Package: com.eswick.appcenter
Name: App Center
Depends: mobilesubstrate
Version: 1.0.5
Architecture: iphoneos-arm
Description: Add apps as pages in Control Center!
Maintainer: Evan Swick <eswick@eswick.com>
Author: CONATH, Evan Swick <eswick@eswick.com>
Section: Tweaks
