<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>APCHeaderCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.eswick.appcenter</string>
			<key>key</key>
			<string>IsTweakEnabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.eswick.appcenter.notification.prefschange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>App Page Size (default is 1.0)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>com.eswick.appcenter</string>
			<key>key</key>
			<string>AppPageScaleMultiplier</string>
			<key>default</key>
			<string>1.0</string>
			<key>isContinuous</key>
			<true/>
			<key>showValue</key>
			<true/>
			<key>min</key>
			<string>0.9</string>
			<key>max</key>
			<string>1.05</string>
			<key>PostNotification</key>
			<string>com.eswick.appcenter.notification.prefschange</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Hint: open Settings in App Center to see the changes live!</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>alignment</key>
			<integer>1</integer>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>label</key>
			<string>App Center © 2017 Evan Swick and Christoph Parstorfer</string>
			<key>footerText</key>
			<string>INSERT LICENSE INFO</string>
		</dict>
	</array>
	<key>title</key>
	<string>App Center</string>
</dict>
</plist>
